@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Amigo Secreto</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div style="text-align:center;font-family: 'Roboto', sans-serif;">
        <h1>Bemvindo ao Amigo Secreto</h1>
        <br />
        <img src="https://gartic.com.br/imgs/mural/ma/mariianeianguas/1278996325.gif" />
        <br />
        <h3>Se você já visualizou seu amigo secreto não poderá visualizar novamente!</h3>
    </div>
</body>
</html>
